html {
  background-color: #173E8E;
  font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Rubik', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Cabin', sans-serif;
  font-family: 'VT323', monospace;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  margin: 0;
  padding: 20px 0;
  color: #173E8E;
  text-shadow: 2px 2px 5px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFFFFF;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  height: 400px;
}

/*button {
  margin-left: auto;
  margin-right: auto;
}*/
